#main-header{
    background-color: #ff0000;
    color:white;
    text-align:center;
    padding: 20px;
}

#main-header h1{
    font-size: 36px;
    margin:0;
}

footer{
    background-color:#34496e;
    color:white;
    text-align:center;
    padding:15px;
    margin: top 30px;
}